*{
    padding: 0px;
    margin: 0px;
}
.div1
{
    display: flex;
    width: 100%;
    height: 660px;
 
    
}
.box1 {
    width: 26%;
    height: 660px;
    border-radius: 5px;
    margin-right: 1px;
    border-left:2px dotted white;
     border-right:2px dotted white;
      border-bottom:2px dotted white;
}

.box1div1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: lightgray;
    background-color: rgb(255,87,82);
    
}

.box1div1 p {
    position: relative;
    left: 17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 20px;

}

.box1div1 p span {
    color: black;
}
.box1div2 {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.box1div2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.box1div2 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35px;
    position: relative;
    top: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(158,165,193);
}
.box1div2 ul li svg {
    position: relative;
    right: 5px;

}

.box1div3 {
    width: 100%;
    height: 500px;
    margin-top: 10px;
  
  
}


.box2 {
    width: 26%;
    height: 660px;
    border-radius: 5px;
    margin-right: 1px;
    border-right: 2px  dotted white;
    border-bottom:  2px  dotted white;
}

.box2div1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;

    border-radius: 5px;
    color: lightgray;
    background-color: rgb(123,213,0);

}

.box2div1 p {
    position: relative;
    left: 17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 20px;

}

.box2div1 p span {
    color: black;
}
.box2div2 {
    width: 100%;
    height: 40px;
    margin-top: 10px;


}

.box2div2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.box2div2 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35px;
    position: relative;
    top: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    


}
.box2div2 ul li svg {
    position: relative;
    right: 5px;

}

.box2div3 {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}





.box3 {
    width: 26%;
    height: 660px;
    border-radius: 5px;
    margin-right: 1px;
    border-right: 2px  dotted white;
    border-bottom:  2px  dotted white;
}

.box3div1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;

    border-radius: 5px;
    color: lightgray;
    background-color: rgb(47,198,246);

}

.box3div1 p {
    position: relative;
    left: 17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 20px;

}

.box3div1 p span {
    color: black;
}
.box3div2 {
    width: 100%;
    height: 40px;
    margin-top: 10px;


}

.box3div2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.box3div2 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35px;
    position: relative;
    top: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.box3div2 ul li svg {
    position: relative;
    right: 5px;

}

.box3div3 {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}





.box4 {
    width: 26%;
    height: 660px;
    border-radius: 5px;
    margin-right: 1px;
    border-right: 2px  dotted white;
    border-bottom:  2px  dotted white;
}

.box4div1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;

    border-radius: 5px;
    color: lightgray;
    background-color: rgb(85,208,224);

}

.box4div1 p {
    position: relative;
    left: 17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 20px;

}

.box4div1 p span {
    color: black;
}
.box4div2 {
    width: 100%;
    height: 40px;
    margin-top: 10px;


}

.box4div2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.box4div2 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35px;
    position: relative;
    top: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}
.box4div2 ul li svg {
    position: relative;
    right: 5px;

}

.box4div3 {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}







.box5 {
    width: 26%;
    height: 660px;
    border-radius: 5px;
    margin-right: 1px;
    border-right: 2px  dotted white;
    border-bottom:  2px  dotted white;
}

.box5div1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;

    border-radius: 5px;
    color: lightgray;
    background-color: rgb(158,172,194);

}

.box5div1 p {
    position: relative;
    left: 17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 20px;

}

.box5div1 p span {
    color: black;
}
.box5div2 {
    width: 100%;
    height: 40px;
    margin-top: 10px;


}

.box5div2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.box5div2 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35px;
    position: relative;
    top: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;



}
.box5div2 ul li svg {
    position: relative;
    right: 5px;

}

.box5div3 {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

.box6 {
    width: 26%;
    height: 660px;
    border-radius: 5px;
    margin-right: 1px;
    border-right: 2px  dotted white;
    border-bottom:  2px  dotted white;
}

.box6div1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    color: lightgray;
    background-color: rgb(51,115,187);

}

.box6div1 p {
    position: relative;
    left: 17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 20px;

}

.box6div1 p span {
    color: black;
}
.box6div2 {
    width: 100%;
    height: 40px;
    margin-top: 10px;


}

.box6div2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.box6div2 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35px;
    position: relative;
    top: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.box6div2 ul li svg {
    position: relative;
    right: 5px;

}

.box6div3 {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}









