*{
    padding: 0px;
    margin: 0px;
}
.div1
{
     width: 81%;
    height: 650px;
    position: absolute;
    top: 72px;
    left: 298px;
   overflow-y: scroll;
    
}
.div1::-webkit-scrollbar
{
    width: 5px;
}