* {
    padding: 0px;
    margin: 0px;
}

.onlinemaindiv {
    width: 100%;
    height: 700px;
    /* background-color: red; */
}

.nav {
    width: 100%;
    height: 70px;
      background: linear-gradient(270deg, rgb(177, 203, 227),  rgb(95, 130, 162));
    /* background-color: rgb(107, 139, 169); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.add {
    display: flex;
    align-items: center;
    height: 35px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(11, 177, 100);
    color: white;
}

.add li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doc {
    font-size: 32px;
    color: white;
    margin-left: 15px;
}

.onlineinput input {
    border: none;
    /* outline: none; */
    background-color: transparent;
    /* background-color: rgb(111, 143, 182); */
    font-size: large;
    color: white;
    outline: none;
}

.onlineinput input::placeholder{
    color: white;
}

.onlineinput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: none;
    width: 250px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 10px;
}

.dirve {
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding-right: 5rem;
}

.d1 {
    display: flex;
    align-items: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(154, 151, 151, 0.549);
    padding-left: 15px;
}

.d1 li {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 5px;

}

.di li {
    display: flex;
    align-items: center;
    align-items: center;
    padding-left: 12px;
}

.di {
    display: flex;
    align-items: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background-color: rgba(217, 214, 214, 0.549);
    border-radius: 8px;
}

.div4{
    width: 100%;
    height: 250px;
    /* background-color: red; */
 background:linear-gradient(270deg, rgb(57, 122, 183),  rgb(105, 163, 216));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.div41{
    width: 140px;
    height: 180px;
    background-color: white;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.create{
    width: 95%;
    height: 350px;
    background-color: white;
    margin-left: 3rem;
    border-radius: 10px;
}
.createnav{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* margin-left: 10px;
    margin-right: 20px; */
    font-size: 20px;
    color: rgb(115, 113, 113);
}
.createnav li{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 25px;
}
.iconi{
 padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list2{
    padding-top: 1rem;
    flex-direction: column;
      display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 32px;
}