* {
    padding: 0px;
    margin: 0px;
}

.box {
    width: 90%;
    height: 720px;

}

.div1 {
    width: 100%;
    height: 80px;
   
}

.div1 ul {

    width: 100%;
    height: 80px;
    
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid white;
}
.div1 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}