*{
    padding: 0px;
    margin: 0px;
}
.box
{

    display: flex;
    
    width: 100%;
    height: 730px;
 
}
.box1
{
    width:19%;
    height:730px;
    
    display: flex;
    justify-content: center;
    
    /* background:linear-gradient(180,rgb(72,84,152),rgb(183,166,169),rgb(92,113,180)); */
    background-color: rgb(92,113,180);
}
.box2
{
    width:81%;
    height:730px;
    
    background-color: rgb(110,112,185);
}
