*{
    padding: 0px;
    margin: 0px;
}
.box
{

    display: flex;

    width: 100%;
    height: 720px;
    border: 2px solid black;
    
}
.box1
{
    width:19%;
    height:720px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    
    /* background:linear-gradient(180,rgb(72,84,152),rgb(183,166,169),rgb(92,113,180)); */
    background-color: rgb(92,113,180);
}
.box2
{
    width:81%;
    height:720px;
    border: 2px solid red;
    background-color: rgb(110,112,185);
}