.messagemainbox {
    width: 100%;
    height: 700px;
    background-color: lightblue;
    display: flex;

   border-radius: 15px;
 
}

.message1 {
    width: 35%;
    height: 650px;
    border-top-left-radius: 15px;
    background-color: white;
    padding-top: 15px;

}

.message2 {
    /* display: flex; */
    width: 65%;
    height: 650px;
    /* background-color: red; */
}

.Nav {
    width: 90%;
    height: 40px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.Navinput {
    display: flex;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(245, 238, 238);
    padding-left: 7px;
    gap: 5px;
}

.Navinput input {
    background-color: rgb(245, 238, 238);
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.Navicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 34px;
    background-color: rgb(203, 236, 247);
    border-radius: 45%;
}


.p1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.picmain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 5px;
}

.pic1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 70px;
}

.pic2 {
    width: 85%;
    height: 70px;
    list-style: none;
    gap: 10px;
    font-size: large;
    padding-left: 1rem;
    color: rgb(152, 153, 154);

}

.time {
    display: flex;
    gap: 1rem;
    color: rgb(15, 101, 150);
}

.time11 {
    padding-left: 11.6rem;
}

.time1 {
    padding-left: 12rem;
}

.time2 {
    padding-left: 13.5rem;
}

.time3 {
    padding-left: 16.5rem;
}

.aa1 {
    width: 100%;
    height: 650px;
    background-color: rgb(200,232,212);
}

.aa2 {
    width: 100%;
    height: 650px;
    background-color: rgb(200,232,212);
}

.aa3 {
    width: 100%;
    height: 650px;
    background-color: rgb(200,232,212);
}

.aa4 {
    width: 100%;
    height: 650px;
    background-color: rgb(200,232,212);
}

.clickNav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 7px;
    /* padding-left: 1rem; */
}

.clicknav {
    display: flex;
    margin: 10px;
}

.bit {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;
    color: rgb(15, 101, 150);

}

.bit1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35rem;
    gap: 10px;
}
.today{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bitrix24{
margin-left: 5.5rem;
     /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 82%;
    height: 400px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 5px;
}
.para{
    padding: 10px;
    font-size: 18px;
    list-style: none;
}
.http{
  color: rgb(10, 134, 205);
}
.http1{
  color: rgb(12, 235, 235);
}

.bitrix241{
    margin-top: 10rem;
margin-left: 5.5rem;
     display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 82%;
    height: 200px;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 5px;
}
.pic24{
    width: 30%;
    height:200px ;
    background-color: red;
}
.news{
    width: 70%;
    height: 200px;
    background-color: yellow;
}